body {
    background-color: brown;
    background-image: url("images.jpg");
}
.d {
    margin-top: 100px;
    text-align: center;
    background-color: saddlebrown; 
    width: 700px;
    margin-left: 150px;
}